<div class = "info">

  <h3>About GoodCalc</h3>
  <hr/>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GoodCalc.org is a website rendering a simple calculator that can do math operations ranging from basic alegbra to complicated computer science bitwise operations. GoodCalc.org was founded by Jonathan Chen, a student at the University of Maryland, College Park. The idea is a response to the overwhelming number of unfortunate students who attend schools with limited number of school supplies in underdeveloped nations. GoodCalc.org aims to provide as many calculators as possible to those students in need. For every 1,000 calculations done using the GoodCalc.org online calculator, a calculator will be donated on behalf of GoodCalc.org to students who lack the resources they need to obtain a decent education. GoodCalc.org hopes that the next calculation you decide to make uses the GoodCalc online calculator because every calculation adds up to make a huge difference.</br></br>

    <u>Mission:</u></br>
    1. Provide the resources and school supplies necessary to children living in underdeveloped nations with poorly funded school systems in order to create a positive impact on their education.</br>
    2. Spread awareness about the problematic situation in which there are countless number of young children in nations worldwide who are deprived of a good education due to the lack of resources and school supplies present in their academic communities.
  </p>
  </br>

  <h3>The Situation</h3>
  <hr/>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Education is something that is easily taken for granted, but not everyone is fortunate enough to have this luxury. For example, in Africa, schools and classrooms are rare, and the ones that can be found often rest in impoverished areas. Any student is grateful for the chance to get a decent education; however, school supplies are limited and resources are short, making a good education difficult to achieve. This is happening in third world countries on a global scale. A simple device such as a calculator can dramatically and positively influence a young child's education.
  </p>
  <table>
    <tr>
      <td><%= link_to image_tag("Children_After_School.jpg", alt: "Children At School", :height => "210", :style => "margin-top: 10px; border: 3px double gray;") %></td>
      <td><%= link_to image_tag("school-africa.jpg", alt: "Children At School", :height => "210", :style => "margin-top: 10px; border: 3px double gray;") %></td>
      <td><%= link_to image_tag("brokenschool.jpg", alt: "Children At School", :height => "210", :style => "margin-top: 10px; border: 3px double gray;") %></td>
    </tr>
  </table>
  </br>

  <h3>Taking Action</h3>
  <hr/>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Taking action can be as simple as donating a calculator to a child in need. With your help, we can donate as many calculators as possible! Each calculation that GoodCalc makes, goes towards the education of underprivileged students around the world beginning with Africa. GoodCalc has partnered with a non-profit organization called <a href = "http://www.developafrica.org/mission-and-vision">Develop Africa Inc.</a> in order get those calculators in the hands of the African students. Furthermore, GoodCalc is still looking for potential partners and organizations that could help distribute donated calculators to other developing nations. If you are or know of a potential partner, don't be shy and contact us! Please look at the contact information at the bottom of the page.
  </p>
  </br>

  <h3>Why GoodCalc?</h3>
  <hr/>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;People have been asking me why I just don't donate a calculator myself and call it a day. Why create an online calculator and share it with everyone? Anyone can just Google calculations or just use a physical calculator at hand such a Ti-83 plus any Texas Instrument or HP Calculator. I understand the points that they are making, however, they misunderstand why I made GoodCalc. So I want to share the reaons why I made GoodCalc to everyone. </br></br>
    1. The reason why I just don't donate a calculator myself is because I want as many people as possible to get involved. GoodCalc is a good way to spread to word about the problem at hand. In a way, with GoodCalc, everyone can help out even a little bit, and that little bit can make a difference. This way, everyone together can donate a greater number of calculators compared to the amount I can donate as an individual.</br></br>
    2. I am not trying to convert people from their everyday methods of doing calculations to using GoodCalc as their primary calculator. I am just asking people to use the calculator whenever they want to help out and support the cause. That's it! Also, to share the calculator with friends and family to spread the word!
  </p>
  </br>

  <!-- Facebook Like -->
  <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.facebook.com/goodcalc"scrolling="no" frameborder="0" width = "430px" height="65px"></iframe>
  <!-- End Facebook Like -->
</div>
