<div class = "info">

  <h3>Contact and Comments</h3>
  <hr/>
  <p>
    Email: <i style = "color: blue">goodcalc.org@gmail.com</i> if you have any comments, questions, and/or concerns. We will be happy to hear from you!
  </p>
  </br>
  <!-- Facebook Like -->
  <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.facebook.com/goodcalc"scrolling="no" frameborder="0" width = "430px" height="65px"></iframe>
  <!-- End Facebook Like -->
</div>