<div class = "info">

  <h3>Donate</h3>
  <hr/>
  <p>
    Instead of donating to goodcalc.org, the best way to donate money or school supplies is through <a href = "http://www.developafrica.org/donate">Develop Africa</a>. Please <a href = "http://www.developafrica.org/donate">Click Here</a> to be redirected to <a href = "http://www.developafrica.org/donate">Develop Africa's</a> Donation page and learn more about how to donate!
  </p>
  </br>
  <!-- Facebook Like -->
  <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.facebook.com/goodcalc"scrolling="no" frameborder="0" width = "430px" height="65px"></iframe>
  <!-- End Facebook Like -->
</div>