<div class = "info">

  <h3>Donate</h3>
  <hr/>
  <p>
    Instead of donating to goodcalc.org, the best way to donate money or school supplies is through <a href = "http://www.developafrica.org/donate">Develop Africa</a>. Please <a href = "http://www.developafrica.org/donate">Click Here</a> to be redirected to <a href = "http://www.developafrica.org/donate">Develop Africa's</a> Donation page and learn more about how to donate!
  </br></br>
    Here is an overview of what your donations can do:</br>
    $1 - $10: Can buy basic calculators.</br>
    $11 - $50: Can buy Scientific calculators.</br>
    $51 - $100: Can buy Graphing calculators.</br>
    $101 and Up: Can buy any calculator listed above!</br></br>

    Start <a href = "http://www.developafrica.org/donate">donating</a> today!
  </p>
  </br>
  <!-- Facebook Like -->
  <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.facebook.com/goodcalc"scrolling="no" frameborder="0" width = "430px" height="65px"></iframe>
  <!-- End Facebook Like -->
</div>