<div class = "info">

  <h3>Join Us and Spread the Word!</h3>
  <hr/>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hi, my name is Jonathan Chen and I created GoodCalc.org in hopes of making a difference. I heard about this unfortunate problem from my good friend Tim Hwang so I decided to do something about it, even if it is something small. However, I cannot do it alone! I need your help to achieve GoodCalc's mission. Please spread the word to friends and family and make a calculation or two a day and together we can make a big difference! Also, please like the <a style = "color:blue;" href = "https://www.facebook.com/goodcalc">Facebook</a> page and thank you all for your support! 
  </p>
  </br>
  <!-- Facebook Like -->
  <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.facebook.com/goodcalc"scrolling="no" frameborder="0" width = "430px" height="65px"></iframe>
  <!-- End Facebook Like -->
</div>