<div class = "info">

  <h3>Partners</h3>
  <hr/>
  <p>
    <a href = "http://www.developafrica.org/mission-and-vision">Develop Africa</a>: This five star rated non-profit organization on GlobalGiving is working to establish meaningful and sustainable development in Africa. Through training, scholarship, investment and partnerships Develop Africa is committed to developing African people through the promotion of transformational education, resource development, investment training and strategic empowerment. They envision an African continent fully developed in terms of its human and resource capacity, free from poverty; ignorance, and civil conflict and where the poorest and most vulnerable people become leaders and effectively manage national resources. </br>
    <a href = "http://www.developafrica.org/mission-and-vision"><img src="http://www.developafrica.org/files/zeropoint_logo.png"></a>
    </br></br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We are still searching for more supporters whether from individuals like you or from an organization that works towards improving the lives of people in developing countries. If you or someone you know would like to partner with GoodCalc, feel free to contact GoodCalc at <i style = "color: blue">goodcalc.org@gmail.com</i> and we will get back to you ASAP! Thank You!
  </p>
  </br>
  <!-- Facebook Like -->
  <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.facebook.com/goodcalc"scrolling="no" frameborder="0" width = "430px" height="65px"></iframe>
  <!-- End Facebook Like -->
</div>