<div class = "footer">
	&copy; 2013 | <span style = "color: #21AE46;">Good</span><span style = "color: #3E90DC;">Calc.org</span> | 
	<a href="http://www.developafrica.org/" target="_blank"><span style = "color: #21AE46;">Develop</span><span style = "color: #FF8000;">Africa.org</span></a>
	</br></br>
</div>