<header>
	<table>
		<tr>
			<td><%= link_to image_tag("logo.png", alt: "logo"), 'http://goodcalc.org/' %></td>
			<td>
				<table>
					<tr>
						<td>
							<h1 style = "margin-bottom: -2px;">
								<span style = "font-family: Verdana; color: #21AE46; text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);"><i>Good</i></span>
								<span style = "margin-left: -10px; font-family: Verdana; color: #3E90DC; text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);"><i>Calc.org</i></span>
							</h1>
						</td>
					</tr>
					<tr>
						<td>
							<center>
								<i>
									<span style = "font-family: Verdana; color: #21AE46;">"</span>
									<span style = "font-family: Verdana; color: #3E90DC;">Every Calculation</span>
									<span style = "font-family: Verdana; color: #21AE46;"> Counts</span>
									<span style = "font-family: Verdana; color: #3E90DC;">"</span>
								</i>
							</center>
						</td>
					</tr>
				</table>
			</td>
			<td>
				<div class = "message">
					"A simple calculation can make a difference in a child's education. For every <b>1,000</b> calculations made, one calculator will be donated to underprivileged students."
				</div>
			</td>
		</tr>
	</table>
	<%= render 'layouts/navigationbar' %>
</header>
